{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'manager_platform.css' %}>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header align="center"><font size="6">AD Manager Platform - AD List</font></header>
    <div class="buttons">
        <button class="add">ADD</button>
        <button class="ad_test">AD TEST</button>
    </div>
    <div class="search">
        <select id="class">
          <option value="type">검색타입</option>
          <option value="1">AD ID</option>
          <option value="2">광고주ID</option>
          <option value="3">광고주 이름</option>
          <option value="4">계약날짜</option>
          <option value="5">계약종료날짜</option>
          <option value="6">타겟링크</option>
        </select>
        <input type="text" class="search_input" placeholder="검색어를 입력하세요">
        <button class="search_button">검색</button>
    </div>
    <div class="main">
        <table id="board">
            <tr>
              <th>AD ID</th>
              <th>광고주ID</th>
              <th>광고주 이름</th>
              <th>계약날짜</th>
              <th>계약종료날짜</th>
              <th>타겟링크</th>
              <th>action</th>
            </tr>
          </table>
          <div class="window-box"></div>
    </div>
          
    <footer></footer>


    <script>
        var Data;
        // 서버로부터 json 파일 받아오는 코드
        $(document).ready(function() {
          
          $.ajax({
            url: 'http://localhost:8000/adsList/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
              var board = $('#board');

              // 데이터 배열을 순회하며 행을 추가
              $.each(data, function(index, item) {
                var row = $('<tr>');
                Data = data;
                var data_elements = [item.id, item.advertiser_id , item.advertiser_name , item.start_date , item.end_date , item.target_link]
                data_elements.forEach(function(item){
                  row.append($('<td>').text(item));
                });
                
                var actionCell = $('<td>');
                var detailBtn = document.createElement('button');
                detailBtn.textContent = '상세';
                detailBtn.classList.add(String(item.id));
                actionCell.append(detailBtn);
                
                var editBtn = $('<button>').text('수정');
                actionCell.append(editBtn);
                
                var deleteBtn = $('<button>').text('삭제');
                actionCell.append(deleteBtn);
                
                row.append(actionCell);
                
                board.append(row);
              });
            },
            error: function(error) {
              console.log('Error:', error);
            }
          });
        });
        $.each(Data,function(index,item){
          document.querySelector("." + String(item.id)).addEventListener('click', function() {
            var windowbox = document.querySelector('.window-box');
            var board = document.querySelector("#board");
            board.style.filter = 'blur(2px)';
            windowbox.style.display = 'block';
            windowbox.style.backgroundColor = 'black';
            windowbox.style.color = "white";
            
            const container = document.createElement('div');
            container.classList.add('data-container');

            const idxElement = document.createElement('p');
            idxElement.textContent = `  AD ID : ${item.id}`;

            const titleElement = document.createElement('h1');
            titleElement.textContent = `  광고주ID : ${item.advertiser_id}`;

            const textElement = document.createElement('p');
            textElement.textContent = `  광고주 이름 : ${item.advertiser_name}`;

            const exposureElement = document.createElement('p');
            exposureElement.textContent = `  계약날짜 : ${item.start_date}`;

            const countElement = document.createElement('p');
            countElement.textContent = `  계약종료날짜 : ${item.end_date}`;

            const regdateElement = document.createElement('p');
            regdateElement.textContent = `  타겟링크 : ${item.target_link}`;

            container.appendChild(idxElement);
            container.appendChild(titleElement);
            container.appendChild(textElement);
            container.appendChild(exposureElement);
            container.appendChild(countElement);
            container.appendChild(regdateElement);

            windowbox.appendChild(container);
          });
        });
        // 검색 버튼 클릭 시 이벤트 핸들러
        $('.search_button').click(function() {
          var searchType = $('#class').val();
          var searchInput = $('.search_input').val().toLowerCase();
          searchTable(searchType, searchInput);
        });

        // 검색어 입력란에서 Enter 키 입력 시 이벤트 핸들러
        $('.search_input').keydown(function(event) {
          if (event.key === 'Enter') {
            var searchType = $('#class').val();
            var searchInput = $('.search_input').val().toLowerCase();
            searchTable(searchType, searchInput);
          }
        });

        // 테이블 검색 기능
        function searchTable(searchType, searchInput) {
          var table = $('#board');
          var rows = table.find('tr');

          rows.each(function() {
            var cells = $(this).find('td');
            var rowMatch = false;
            for(var i = 1 ; i < 7; i++){
              if(searchType == String(i)){
                if (cells.eq(`${i-1}`).text().toLowerCase().indexOf(searchInput) > -1){
                  rowMatch = true;
                }
              }
            }

            if (rowMatch) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        }
    </script>
</body>
</html>
