{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* 모달 스타일 */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 30%;
    }
  </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'manager_platform.css' %}>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header align="center"><font size="6">AD Manager Platform - AD List</font></header>
    <div class="buttons">
        <button class="add" onclick="openAddModal()">ADD</button>
        <button class="ad_test">AD TEST</button>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <h2>광고 추가</h2>
            <form id="adForm">
            <label for="ad_id">AD ID:</label>
            <input type="text" id="ad_id" name="ad_id" required><br>

            <label for="advertiser_id">광고주 ID:</label>
            <input type="text" id="advertiser_id" name="advertiser_id" required><br>

            <label for="advertiser_name">광고주 이름:</label>
            <input type="text" id="advertiser_name" name="advertiser_name" required><br>

            <label for="ad_start_date">계약 시작 날짜:</label>
            <input type="text" id="ad_start_date" name="ad_start_date" required><br>

            <label for="ad_end_date">계약 종료 날짜:</label>
            <input type="text" id="ad_end_date" name="ad_end_date" required><br>

            <label for="ad_target_link">타겟링크:</label>
            <input type="text" id="ad_target_link" name="ad_target_link" required><br>

            <button type="submit">추가</button>
            </form>
          </div>
        </div>
    </div>
    <div class="search">
        <select id="class">
          <option value="type">검색타입</option>
          <option value="1">AD ID</option>
          <option value="2">광고주ID</option>
          <option value="3">광고주 이름</option>
          <option value="4">계약날짜</option>
          <option value="5">계약종료날짜</option>
          <option value="6">타겟링크</option>
        </select>
        <input type="text" class="search_input" placeholder="검색어를 입력하세요">
        <button class="search_button">검색</button>
    </div>
    <div class="main">
        <table id="board">
            <tr>
              <th>AD ID</th>
              <th>광고주ID</th>
              <th>광고주 이름</th>
              <th>계약시작날짜</th>
              <th>계약종료날짜</th>
              <th>타겟링크</th>
              <th>action</th>
            </tr>
          </table>
          <div class="window-box"></div>
    </div>
          
    <footer>
      <div style=" text-align: center;">
        <button id="prev-button">이전</button>
        <button id="page-button"></button>
        <button id="next-button">다음</button>
      </div>
    </footer>


    <script>
      // 모달 열기
    function openAddModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    // 모달 닫기
    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    // 모달 외부 클릭 시 닫기
    window.onclick = function (event) {
      var modal = document.getElementById("myModal");
      if (event.target == modal) {
        closeModal();
      }
    };

    // 광고 데이터 서버에 전송

    $("#adForm").submit(function (event) {
      event.preventDefault(); // 기본 폼 제출 동작 방지

      // 폼 데이터 가져오기
      var formData = $(this).serialize();

      // 서버로 POST 요청 전송
      $.ajax({
        url: "http://100.90.200.72:8000/adsList/", // 서버 엔드포인트 URL
        type: "POST",
        data: formData,
        success: function (response) {
          console.log("광고 생성 성공");
          
        },
        error: function (xhr, status, error) {
          console.log("광고 생성 실패: " + error);
          
        }
      });
    });



        var Data;
        // 서버로부터 json 파일 받아오는 코드
        $(document).ready(function() {

          var currentPage = 1; // 현재 페이지 번호
          var rowsPerPage = 12; // 페이지당 행의 개수

          var pageButton = $('#page-button');

          //페이지 번호 업데이트 함수 
          function updatePageNumber() {
          pageButton.text(currentPage);
        }

        // 초기 페이지 번호 표시
          updatePageNumber();
          
          $.ajax({
            url: 'http://100.90.200.72:8000/adsList/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
              var board = $('#board');
              var totalRows = data.length; // 전체 행의 개수
              var totalPages = Math.ceil(totalRows / rowsPerPage);
              
              //특정 페이지의 데이터를 표시하는 함수 
              function showPage(page) {
              board.empty();

              // 데이터 배열을 순회하며 해당 페이지의 행을 추가
            for (var i = (page - 1) * rowsPerPage; i < page * rowsPerPage; i++) {
              if (i >= totalRows) {
              break; // 마지막 페이지에 남은 행이 없으면 종료
            }

            var item = data[i];
            var row = $('<tr>');
            Data = data;
            var data_elements = [item.id,item.advertiser_id,item.advertiser_name,
            item.start_date,item.end_date,item.target_link];
          data_elements.forEach(function(item) {
            row.append($('<td>').text(item));
          });
                
                var actionCell = $('<td>');
                var detailBtn = document.createElement('button');
                detailBtn.textContent = '상세';
                detailBtn.classList.add(String(item.id));
                actionCell.append(detailBtn);
                
                var editBtn = $('<button>').text('수정');
                actionCell.append(editBtn);
                
                var deleteBtn = $('<button>').text('삭제');
                actionCell.append(deleteBtn);
                
                row.append(actionCell);
                
                board.append(row);
              }
            }
            // 페이지 이동 함수
      function goToPage(page) {
        if (page < 1) {
          page = 1;
        } else if (page > totalPages) {
          page = totalPages;
        }
        currentPage = page;
        showPage(currentPage);
        updatePagination();
      }

      // 페이지네이션 업데이트 함수
      function updatePagination() {
        var prevButton = $('#prev-button');
        var nextButton = $('#next-button');

        prevButton.prop('disabled', currentPage === 1);
        nextButton.prop('disabled', currentPage === totalPages);

        // 이전 버튼 클릭 시 이벤트 핸들러
        prevButton.off('click').click(function() {
          goToPage(currentPage - 1);
          updatePageNumber();
        });

        // 다음 버튼 클릭 시 이벤트 핸들러
        nextButton.off('click').click(function() {
          goToPage(currentPage + 1);
          updatePageNumber();
        });
      }

      // 초기 페이지 표시
      showPage(currentPage);
      updatePagination();
    },
            error: function(error) {
              console.log('Error:', error);
            }
          });
        });
        //상세 버튼 
        $.each(Data,function(index,item){
          document.querySelector("." + String(item.id)).addEventListener('click', function() {
            var windowbox = document.querySelector('.window-box');
            var board = document.querySelector("#board");
            board.style.filter = 'blur(2px)';
            windowbox.style.display = 'block';
            windowbox.style.backgroundColor = 'black';
            windowbox.style.color = "white";
            
            const container = document.createElement('div');
            container.classList.add('data-container');

            const idxElement = document.createElement('p');
            idxElement.textContent = `  AD ID : ${item.id}`;

            const titleElement = document.createElement('h1');
            titleElement.textContent = `  광고주ID : ${item.advertiser_id}`;

            const textElement = document.createElement('p');
            textElement.textContent = `  광고주 이름 : ${item.advertiser_name}`;

            const exposureElement = document.createElement('p');
            exposureElement.textContent = `  계약날짜 : ${item.start_date}`;

            const countElement = document.createElement('p');
            countElement.textContent = `  계약종료날짜 : ${item.end_date}`;

            const regdateElement = document.createElement('p');
            regdateElement.textContent = `  타겟링크 : ${item.target_link}`;

            container.appendChild(idxElement);
            container.appendChild(titleElement);
            container.appendChild(textElement);
            container.appendChild(exposureElement);
            container.appendChild(countElement);
            container.appendChild(regdateElement);

            windowbox.appendChild(container);
          });
        });
        // 검색 버튼 클릭 시 이벤트 핸들러
        $('.search_button').click(function() {
          var searchType = $('#class').val();
          var searchInput = $('.search_input').val().toLowerCase();
          searchTable(searchType, searchInput);
        });

        // 검색어 입력란에서 Enter 키 입력 시 이벤트 핸들러
        $('.search_input').keydown(function(event) {
          if (event.key === 'Enter') {
            var searchType = $('#class').val();
            var searchInput = $('.search_input').val().toLowerCase();
            searchTable(searchType, searchInput);
          }
        });

        // 테이블 검색 기능
        function searchTable(searchType, searchInput) {
          var table = $('#board');
          var rows = table.find('tr');

          rows.each(function() {
            var cells = $(this).find('td');
            var rowMatch = false;
            for(var i = 1 ; i < 7; i++){
              if(searchType == String(i)){
                if (cells.eq(`${i-1}`).text().toLowerCase().indexOf(searchInput) > -1){
                  rowMatch = true;
                }
              }
            }

            if (rowMatch) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        }
    </script>
</body>
</html>